In [26]:
# Import Dependencies
import pandas as pd
import datetime
import time

In [39]:
df1 = pd.read_csv("../Clean_Data/ILI_Weekly_State_Avg.csv")
df1.head(10)

,REGION,week_1,week_2,week_3,week_4,week_5,week_6,week_7,week_8,week_9,...,week_44,week_45,week_46,week_47,week_48,week_49,week_50,week_51,week_52,week_53
0,Alabama,6.370629,6.964126,7.661381,7.435979,7.277602,7.068386,6.256861,5.470849,4.960846,...,2.579153,2.825046,3.139500,3.914537,3.930459,4.669928,6.318017,7.920726,8.795278,11.22120
1,Alaska,1.766894,2.010301,1.993347,1.771273,2.355049,2.244505,2.589673,2.190691,2.589630,...,1.306854,1.565698,1.544350,1.562975,1.568266,1.510352,1.671861,2.022891,2.556303,2.36626
2,Arizona,2.901751,2.649474,3.168582,3.214370,3.087903,3.170538,3.146787,3.004246,2.715038,...,1.448226,1.354446,1.500060,1.573424,1.793631,1.921139,2.279462,2.662839,3.080307,2.65764
3,Arkansas,4.281816,5.101146,5.373053,5.374030,5.660437,5.830056,5.198441,4.212520,4.008509,...,1.356330,1.400975,1.593388,1.724070,1.823856,1.993462,2.662367,4.364511,5.286013,5.00131
4,California,4.028955,3.694313,3.826214,4.235409,4.227718,3.986936,3.882070,3.714905,3.474365,...,2.043682,2.146360,2.273906,2.429978,2.276381,2.456101,2.832426,3.457791,4.553783,4.77128
5,Colorado,2.049578,1.889047,2.030161,2.077329,2.236662,2.020479,2.112161,1.724872,1.673875,...,0.815381,0.871323,0.980924,0.942983,1.168460,1.415464,1.659455,2.075706,2.539259,4.69657
6,Connecticut,2.400804,2.642843,3.068027,3.096562,3.470586,3.837100,3.558603,3.185739,2.664464,...,1.298418,1.331986,1.310891,1.385115,1.325600,1.605110,1.685152,2.057369,2.466199,1.73913
7,Delaware,1.338100,1.960417,1.922858,2.073742,1.787819,1.939444,1.740424,1.400836,1.209693,...,0.349095,0.420547,0.389560,0.335798,0.376109,0.582791,0.575997,0.813554,1.193985,1.65687
8,District of Columbia,8.171689,7.175295,5.408062,6.251099,6.358745,6.074810,5.735735,5.418412,5.390607,...,4.073639,4.500843,4.762942,5.542967,5.763693,6.154584,6.197006,7.227320,8.032807,14.81480
9,Florida,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000

TypeError: Could not convert 2.134772.494861.494041.590441.731742.588752.223981.757211.62738 to numeric