In [1]:
%matplotlib inline

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [2]:
from sklearn.decomposition import PCA, TruncatedSVD
from sklearn.preprocessing import MinMaxScaler


from sklearn.model_selection import train_test_split
from sklearn import decomposition
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import GradientBoostingRegressor 

from sklearn.metrics import accuracy_score

import seaborn as sns
np.random.seed(0)

In [4]:
df1 = pd.read_csv("ILI_Weekly_State_Avg.csv")
df1.head(2)

,REGION,week_1,week_2,week_3,week_4,week_5,week_6,week_7,week_8,week_9,...,week_44,week_45,week_46,week_47,week_48,week_49,week_50,week_51,week_52,week_53
0,Alabama,6.370629,6.964126,7.661381,7.435979,7.277602,7.068386,6.256861,5.470849,4.960846,...,2.579153,2.825046,3.13950,3.914537,3.930459,4.669928,6.318017,7.920726,8.795278,11.22120
1,Alaska,1.766894,2.010301,1.993347,1.771273,2.355049,2.244505,2.589673,2.190691,2.589630,...,1.306854,1.565698,1.54435,1.562975,1.568266,1.510352,1.671861,2.022891,2.556303,2.36626

In [5]:
df1 = df1.set_index(["REGION"])
df1.head()

,week_1,week_2,week_3,week_4,week_5,week_6,week_7,week_8,week_9,week_10,...,week_44,week_45,week_46,week_47,week_48,week_49,week_50,week_51,week_52,week_53
REGION,,,,,,,,,,,,,,,,,,,,,
Alabama,6.370629,6.964126,7.661381,7.435979,7.277602,7.068386,6.256861,5.470849,4.960846,4.755156,...,2.579153,2.825046,3.139500,3.914537,3.930459,4.669928,6.318017,7.920726,8.795278,11.22120
Alaska,1.766894,2.010301,1.993347,1.771273,2.355049,2.244505,2.589673,2.190691,2.589630,2.373729,...,1.306854,1.565698,1.544350,1.562975,1.568266,1.510352,1.671861,2.022891,2.556303,2.36626
Arizona,2.901751,2.649474,3.168582,3.214370,3.087903,3.170538,3.146787,3.004246,2.715038,2.384350,...,1.448226,1.354446,1.500060,1.573424,1.793631,1.921139,2.279462,2.662839,3.080307,2.65764
Arkansas,4.281816,5.101146,5.373053,5.374030,5.660437,5.830056,5.198441,4.212520,4.008509,3.508576,...,1.356330,1.400975,1.593388,1.724070,1.823856,1.993462,2.662367,4.364511,5.286013,5.00131
California,4.028955,3.694313,3.826214,4.235409,4.227718,3.986936,3.882070,3.714905,3.474365,3.315829,...,2.043682,2.146360,2.273906,2.429978,2.276381,2.456101,2.832426,3.457791,4.553783,4.77128

In [6]:
model_df = df1.transpose()
model_df.head()

REGION,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
week_1,6.370629,1.766894,2.901751,4.281816,4.028955,2.049578,2.400804,1.338100,8.171689,0.0,...,3.969515,6.643214,3.047853,2.637425,0.973884,3.916841,2.437575,2.978248,2.291341,2.536921
week_2,6.964126,2.010301,2.649474,5.101146,3.694313,1.889047,2.642843,1.960417,7.175295,0.0,...,3.498934,6.588232,3.076584,2.806096,1.812476,3.847870,2.230000,3.000258,2.320207,2.931094
week_3,7.661381,1.993347,3.168582,5.373053,3.826214,2.030161,3.068027,1.922858,5.408062,0.0,...,3.983725,6.280990,3.061443,3.087066,1.368254,4.051611,2.386326,3.554352,2.441097,3.061053
week_4,7.435979,1.771273,3.214370,5.374030,4.235409,2.077329,3.096562,2.073742,6.251099,0.0,...,3.423732,6.585958,2.699426,3.467884,1.038626,3.918004,2.376008,3.601549,2.555305,3.223649
week_5,7.277602,2.355049,3.087903,5.660437,4.227718,2.236662,3.470586,1.787819,6.358745,0.0,...,3.787902,6.587402,2.761200,3.562659,1.261181,4.212277,2.098945,3.113282,2.564747,3.237445

In [18]:
# X's are a given season's weekly incidences.
# y's are the averages of all incidences in the same state in the season after the current one (e.g. 2011 for 2010)#

X = flu_compact_df.values
y = np.array(next_season_means)
X.shape, y.shape

((482, 33), (482, 1))

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .25, random_state = 0) #25% hold for testing

In [20]:
print(X_train.shape, X_test.shape)

(361, 33) (121, 33)

# Reference https://shankarmsy.github.io/stories/gbrt-sklearn.html#

In [21]:
gbrt = GradientBoostingRegressor(n_estimators=300, max_depth=3) # number of sequential trees to be modeled

In [22]:
gbrt.fit(X_train, y_train)

C:\Users\emame\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=300, n_iter_no_change=None, presort='auto',
             random_state=None, subsample=1.0, tol=0.0001,
             validation_fraction=0.1, verbose=0, warm_start=False)

In [23]:
y_pred = gbrt.predict(X_test)

In [24]:
y_pred = gbrt.predict(X_test)

In [25]:
# y_pred

In [26]:
from sklearn.metrics import mean_squared_error

In [27]:
mean_squared_error(y_test, y_pred)

0.03482299375479534

In [28]:
from sklearn.metrics import r2_score

In [29]:
r2_score(y_test, y_pred)

0.981325920519874

In [31]:
print("R-squared for Train: %.2f" %gbrt.score(X_train, y_train)) 
print("R-squared for Test: %.2f" %gbrt.score(X_test, y_test))

R-squared for Train: 1.00
R-squared for Test: 0.98

In [123]:
# RF predictors variable importance
# print(gbrt.feature_importances_)

In [121]:
# store most important variavles under importances
# importances = gbrt.feature_importances_

In [122]:
# sort imprtant varibles and sotre them under indices
# indices = np.argsort(importances)[::-1]
# for f in range(X.shape[1]):
#     print("%d. feature %d (%f)" % (f +1, indices[f], importances[indices[f]]))

In [146]:
gbrt1 = GradientBoostingRegressor(n_estimators=100, max_depth=2)

In [147]:
gbrt1.fit(X_train, y_train)

C:\Users\emame\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=2, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=100, n_iter_no_change=None, presort='auto',
             random_state=None, subsample=1.0, tol=0.0001,
             validation_fraction=0.1, verbose=0, warm_start=False)

In [148]:
y_pred = gbrt1.predict(X_test)

In [149]:
mean_squared_error(y_test, y_pred)

0.036783361276478195

In [150]:
r2_score(y_test, y_pred)

0.9802746594144119