In [2]:
from sklearn import tree
import pandas as pd
import os
import numpy as np

In [3]:
df = pd.read_csv("Google_Trends_combined_allyears_IH.csv")
df.describe()

,Unnamed: 0,a_influenza,acute_bronchitis,body_temperature,braun_thermoscan,break_a_fever,bronchitis,chest_cold,cold_and_flu,cold_or_flu,...,what_to_do_if_you_have_the_flu,Flu_Visit_Count,ILI_Visit_Count,Unspecified,Unweighted_ILI,Label,ILI_lagwk1,ILI_lagwk2,ILI_lagwk3,ILI_lagwk4
count,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,...,649.000000,364.000000,364.000000,364.000000,649.000000,649.000000,648.000000,647.000000,646.000000,645.000000
mean,324.000000,10.297381,37.585516,54.716487,32.033898,20.057011,36.605547,31.591680,19.144838,15.528505,...,11.454545,0.003887,0.006861,0.013524,1.721429,1.721429,1.720353,1.720216,1.720229,1.720504
std,187.494444,12.253093,16.802571,11.629162,13.185363,13.954671,15.037454,15.783489,14.608596,12.601668,...,12.659044,0.006181,0.007019,0.009528,1.081214,1.081214,1.081702,1.082533,1.083372,1.084190
min,0.000000,1.000000,7.000000,32.000000,7.000000,0.000000,12.000000,5.000000,2.000000,1.000000,...,0.000000,0.000100,0.001640,0.004980,0.534093,0.534093,0.534093,0.534093,0.534093,0.534093
25%,162.000000,3.000000,25.000000,47.000000,23.000000,10.000000,26.000000,20.000000,9.000000,7.000000,...,4.000000,0.000378,0.002740,0.007983,0.972109,0.972109,0.971993,0.971876,0.971759,0.971643
50%,324.000000,6.000000,34.000000,53.000000,29.000000,17.000000,34.000000,28.000000,16.000000,13.000000,...,9.000000,0.001070,0.003845,0.009835,1.336610,1.336610,1.333450,1.330290,1.328830,1.327370
75%,486.000000,11.000000,47.000000,63.000000,38.000000,27.000000,46.000000,40.000000,25.000000,19.000000,...,15.000000,0.004367,0.007735,0.015335,2.100690,2.100690,2.098965,2.099540,2.100115,2.100690
max,648.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,0.040700,0.047170,0.060350,7.618890,7.618890,7.618890,7.618890,7.618890,7.618890

In [4]:
new_df = df.drop(['Flu_Visit_Count', 'ILI_Visit_Count', 'Unspecified'], axis=1)
new_df.head(10)

,Unnamed: 0,ILI_weeks,a_influenza,acute_bronchitis,body_temperature,braun_thermoscan,break_a_fever,bronchitis,chest_cold,cold_and_flu,...,type_a_influenza,upper_respiratory,walking_pneumonia,what_to_do_if_you_have_the_flu,Unweighted_ILI,Label,ILI_lagwk1,ILI_lagwk2,ILI_lagwk3,ILI_lagwk4
0,0,2004_1,11,50,58,100,15,34,27,26,...,20,37,57,0,2.41833,2.41833,1.80906,1.712020,1.542500,1.437870
1,1,2004_2,7,41,70,54,12,31,17,20,...,16,21,42,0,1.80906,1.80906,1.71202,1.542500,1.437870,1.324270
2,2,2004_3,6,40,53,40,15,29,20,16,...,16,17,38,0,1.71202,1.71202,1.54250,1.437870,1.324270,1.307260
3,3,2004_4,4,32,57,26,18,25,21,12,...,16,24,45,0,1.54250,1.54250,1.43787,1.324270,1.307260,1.036980
4,4,2004_5,3,31,46,80,21,25,9,10,...,18,25,26,0,1.43787,1.43787,1.32427,1.307260,1.036980,1.010320
5,5,2004_6,8,22,55,27,24,32,15,8,...,21,23,33,46,1.32427,1.32427,1.30726,1.036980,1.010320,1.052490
6,6,2004_7,4,39,59,52,12,26,11,10,...,24,39,41,0,1.30726,1.30726,1.03698,1.010320,1.052490,1.020090
7,7,2004_8,4,54,47,75,11,30,24,7,...,30,32,30,0,1.03698,1.03698,1.01032,1.052490,1.020090,0.924419
8,8,2004_9,5,49,54,86,19,32,20,8,...,26,43,35,0,1.01032,1.01032,1.05249,1.020090,0.924419,0.790645
9,9,2004_10,6,63,47,63,29,36,26,14,...,15,35,29,0,1.05249,1.05249,1.02009,0.924419,0.790645,0.802610

In [5]:
g_trend = new_df.dropna()
g_trend.head()

,Unnamed: 0,ILI_weeks,a_influenza,acute_bronchitis,body_temperature,braun_thermoscan,break_a_fever,bronchitis,chest_cold,cold_and_flu,...,type_a_influenza,upper_respiratory,walking_pneumonia,what_to_do_if_you_have_the_flu,Unweighted_ILI,Label,ILI_lagwk1,ILI_lagwk2,ILI_lagwk3,ILI_lagwk4
0,0,2004_1,11,50,58,100,15,34,27,26,...,20,37,57,0,2.41833,2.41833,1.80906,1.71202,1.54250,1.43787
1,1,2004_2,7,41,70,54,12,31,17,20,...,16,21,42,0,1.80906,1.80906,1.71202,1.54250,1.43787,1.32427
2,2,2004_3,6,40,53,40,15,29,20,16,...,16,17,38,0,1.71202,1.71202,1.54250,1.43787,1.32427,1.30726
3,3,2004_4,4,32,57,26,18,25,21,12,...,16,24,45,0,1.54250,1.54250,1.43787,1.32427,1.30726,1.03698
4,4,2004_5,3,31,46,80,21,25,9,10,...,18,25,26,0,1.43787,1.43787,1.32427,1.30726,1.03698,1.01032

In [6]:
from sklearn.model_selection import train_test_split

#X_train, X_test, y_train = g_trend.loc[0:599, :], y_test = g_trend.loc[600:648, :]
Train=g_trend.loc[1:550, :]
X_train=Train.iloc[:,1:130]
y_train=Train.iloc[:,131]
Test=g_trend.loc[551:645,:]
X_test=Test.iloc[:,1:130]
y_test=Test.iloc[:,131]

In [7]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

C:\Users\emame\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64, object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\emame\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64, object were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\emame\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype int64, object were all converted to float64 by StandardScaler.
  """

array([[-2.14837067, -0.21851175,  0.53068775, ...,  0.13930003,
        -1.14142583, -0.01270432],
       [-2.14835622, -0.30942057,  0.4579183 , ...,  0.13930003,
        -1.40600668, -0.26004514],
       [-2.14834177, -0.49123822, -0.1242373 , ...,  0.13930003,
        -0.9429902 ,  0.17280129],
       ...,
       [ 0.473153  , -0.49123822, -0.48808455, ..., -0.74496232,
         0.18147841, -0.75472677],
       [ 0.47316745, -0.58214704, -0.2697762 , ..., -0.68180072,
         0.24762362, -0.75472677],
       [ 0.4731819 , -0.58214704, -0.05146785, ..., -0.74496232,
        -0.01695723, -0.75472677]])

In [73]:
from sklearn.ensemble import RandomForestRegressor


regressor = RandomForestRegressor(n_estimators=600, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
predicted = regressor.predict(X_test)
training_score = regressor.score(X_train, y_train)
testing_score = r2_score(y_test, predicted)

In [76]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Mean Absolute Error: 0.19999732436673914
Mean Squared Error: 0.07437341682394873
Root Mean Squared Error: 0.2727149002602328
Training Score: 0.9492160811703514
Testing Score: 0.9322019169324995

In [67]:
import numpy as np

In [68]:
np.std(y_train)

1.0973785451053693