In [13]:
%matplotlib inline

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [14]:
from sklearn.decomposition import PCA, TruncatedSVD
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import scale

from sklearn.model_selection import train_test_split
from sklearn import decomposition
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier

import seaborn as sns
np.random.seed(0)

In [15]:
df1 = pd.read_csv("ILINet.csv")
df1.head(2)

,REGION TYPE,REGION,YEAR,WEEK,%WEIGHTEDILI,%UNWEIGHTED ILI,AGE 0-4,AGE 25-49,AGE 25-64,AGE 5-24,AGE 50-64,AGE 65,ILITOTAL,NUM. OF PROVIDERS,TOTAL PATIENTS
0,States,Alabama,2010,40,X,2.13477,X,X,X,X,X,X,249,35,11664
1,States,Alaska,2010,40,X,0.875146,X,X,X,X,X,X,15,7,1714

In [16]:
df1 = pd.read_csv("ILINet.csv")
del df1["REGION TYPE"]
del df1["%WEIGHTEDILI"]
del df1["AGE 0-4"]
del df1["AGE 25-49"]
del df1["AGE 25-64"]
del df1["AGE 5-24"]
del df1["AGE 50-64"]
del df1["AGE 65"]
del df1["ILITOTAL"]
del df1["NUM. OF PROVIDERS"]
del df1["TOTAL PATIENTS"]
# del df1["YEAR"]
df1.head(2)

    REGION  YEAR  WEEK %UNWEIGHTED ILI
0  Alabama  2010    40         2.13477
1   Alaska  2010    40        0.875146

In [5]:
# rows with value of X replaced by zero
df = df1.replace(r'X','0')
df = df.rename(columns={"%UNWEIGHTED ILI": "PERCENTAGE_ILI"})
df = df[['REGION', "WEEK", "PERCENTAGE_ILI"]]
df = df.set_index(["REGION"])
df.head()

            WEEK PERCENTAGE_ILI
REGION
Alabama       40        2.13477
Alaska        40       0.875146
Arizona       40       0.674721
Arkansas      40       0.696056
California    40        1.95412

In [6]:
df["WEEK"].unique()

array([40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52,  1,  2,  3,  4,
        5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,
       22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38,
       39, 53], dtype=int64)

In [7]:
# result = df.transpose()

In [8]:
wk40 = df[df["WEEK"] == 40]
wk41 = df[df["WEEK"] == 41]
wk42 = df[df["WEEK"] == 42]
wk43 = df[df["WEEK"] == 43]
wk44 = df[df["WEEK"] == 44]
wk45 = df[df["WEEK"] == 45]
wk46 = df[df["WEEK"] == 46]
wk47 = df[df["WEEK"] == 47]
wk48 = df[df["WEEK"] == 48]
wk49 = df[df["WEEK"] == 49]
wk50 = df[df["WEEK"] == 50]
wk51 = df[df["WEEK"] == 51]
wk52 = df[df["WEEK"] == 52]


wk1 = df[df["WEEK"] == 1]
wk2 = df[df["WEEK"] == 2]
wk3 = df[df["WEEK"] == 3]
wk4 = df[df["WEEK"] == 4]
wk5 = df[df["WEEK"] == 5]
wk6 = df[df["WEEK"] == 6]
wk7 = df[df["WEEK"] == 7]
wk8 = df[df["WEEK"] == 8]
wk9 = df[df["WEEK"] == 9]
wk10 = df[df["WEEK"] == 10]

wk11 = df[df["WEEK"] == 11]
wk12 = df[df["WEEK"] == 12]
wk13 = df[df["WEEK"] == 13]
wk14 = df[df["WEEK"] == 14]
wk15 = df[df["WEEK"] == 15]
wk16 = df[df["WEEK"] == 16]
wk17 = df[df["WEEK"] == 17]
wk18 = df[df["WEEK"] == 18]
wk19 = df[df["WEEK"] == 19]
wk20 = df[df["WEEK"] == 20]

In [9]:
wk40 = wk40.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week40"})
wk41 = wk41.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week41"})
wk42 = wk42.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week42"})
wk43 = wk43.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week43"})
wk44 = wk44.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week44"})
wk45 = wk45.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week45"})
wk46 = wk46.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week46"})
wk47 = wk47.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week47"})
wk48 = wk48.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week48"})
wk49 = wk49.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week49"})
wk50 = wk50.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week50"})
wk51 = wk51.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week51"})
wk52 = wk52.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week52"})


wk1 = wk1.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week1"})
wk2 = wk2.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week2"})
wk3 = wk3.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week3"})
wk4 = wk4.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week4"})
wk5 = wk5.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week5"})
wk6 = wk6.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week6"})
wk7 = wk7.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week7"})
wk8 = wk8.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week8"})
wk9 = wk9.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week9"})
wk10 = wk10.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week10"})

wk11 = wk11.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week11"})
wk12 = wk12.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week12"})
wk13 = wk13.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week13"})
wk14 = wk14.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week14"})
wk15 = wk15.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week15"})
wk16 = wk16.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week16"})
wk17 = wk17.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week17"})
wk18 = wk18.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week18"})
wk19 = wk19.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week19"})
wk20 = wk20.rename(columns={"PERCENTAGE_ILI": "Percentage_ill_week20"})

In [10]:
del wk40["WEEK"]
del wk41["WEEK"]
del wk42["WEEK"]
del wk43["WEEK"]
del wk44["WEEK"]
del wk45["WEEK"]
del wk46["WEEK"]
del wk47["WEEK"]
del wk48["WEEK"]
del wk49["WEEK"]
del wk50["WEEK"]
del wk51["WEEK"]
del wk52["WEEK"]

del wk1["WEEK"]
del wk2["WEEK"]
del wk3["WEEK"]
del wk4["WEEK"]
del wk5["WEEK"]
del wk6["WEEK"]
del wk7["WEEK"]
del wk8["WEEK"]
del wk9["WEEK"]
del wk10["WEEK"]

del wk11["WEEK"]
del wk12["WEEK"]
del wk13["WEEK"]
del wk14["WEEK"]
del wk15["WEEK"]
del wk16["WEEK"]
del wk17["WEEK"]
del wk18["WEEK"]
del wk19["WEEK"]
del wk20["WEEK"]

In [11]:
# r = pd.concat([wk40, 
# wk41], axis=1, sort=False)
# r

In [12]:
flu_df = pd.concat([wk40, 
wk41, 
wk42, 
wk43,  
wk44, 
wk45, 
wk46, 
wk47, 
wk48, 
wk49, 
wk50, 
wk51, 
wk52, 
wk1, 
wk2, 
wk3,  
wk4, 
wk5, 
wk6, 
wk7, 
wk8, 
wk9, 
wk10,         
wk11, 
wk12, 
wk13,  
wk14, 
wk15, 
wk16, 
wk17, 
wk18, 
wk19, 
wk20], axis=1, sort=False)
flu_df.head()

,Percentage_ill_week40,Percentage_ill_week41,Percentage_ill_week42,Percentage_ill_week43,Percentage_ill_week44,Percentage_ill_week45,Percentage_ill_week46,Percentage_ill_week47,Percentage_ill_week48,Percentage_ill_week49,...,Percentage_ill_week11,Percentage_ill_week12,Percentage_ill_week13,Percentage_ill_week14,Percentage_ill_week15,Percentage_ill_week16,Percentage_ill_week17,Percentage_ill_week18,Percentage_ill_week19,Percentage_ill_week20
REGION,,,,,,,,,,,,,,,,,,,,,
Alabama,2.13477,2.05999,1.94224,2.2765,2.83371,3.46224,3.53248,4.27655,4.44043,5.81097,...,4.04606,3.43834,3.17374,2.74659,2.67592,2.76866,3.28311,3.00455,2.64628,2.46441
Alaska,0.875146,1.12827,0.586042,0.967742,0.683851,0.951904,0.962567,0.652316,0.45977,0.797721,...,2.68747,3.02457,2.14376,2.2082,1.36504,1.4123,0.854271,0.798122,0.359712,0.306279
Arizona,0.674721,0.749939,0.953365,0.888804,1.18573,0.945337,1.09665,1.1338,1.42227,2.14835,...,1.32819,0.996642,1.11316,0.997526,0.895053,1.09028,0.835587,0.772679,0.686106,0.569434
Arkansas,0.696056,0.674157,0.514217,0.41365,1.09028,1.19736,1.55462,2.02599,1.39295,1.02064,...,3.26913,2.31362,1.66325,0.850906,0.438757,0.675676,0.455754,0.630347,0.711744,0.520382
California,1.95412,2.15266,2.24173,1.91748,2.52326,2.74562,2.81963,3.16132,2.60631,3.05613,...,4.4379,3.29703,3.2,2.64683,2.57193,2.24199,2.34436,2.14632,2.05279,2.13285