In [1]:
%matplotlib inline

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [2]:
from sklearn.decomposition import PCA, TruncatedSVD
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import scale

from sklearn.model_selection import train_test_split
from sklearn import decomposition
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier

import seaborn as sns

In [3]:
df1 = pd.read_csv("ILINet.csv")
del df1["REGION TYPE"]
del df1["%WEIGHTEDILI"]
del df1["AGE 0-4"]
del df1["AGE 25-49"]
del df1["AGE 25-64"]
del df1["AGE 5-24"]
del df1["AGE 50-64"]
del df1["AGE 65"]
df1.head(2)

,REGION,YEAR,WEEK,%UNWEIGHTED ILI,ILITOTAL,NUM. OF PROVIDERS,TOTAL PATIENTS
0,Alabama,2010,40,2.13477,249,35,11664
1,Alaska,2010,40,0.875146,15,7,1714

In [4]:
# rows with value of X replaced by zero
df = df1.replace(r'X','0')
df.head()

,REGION,YEAR,WEEK,%UNWEIGHTED ILI,ILITOTAL,NUM. OF PROVIDERS,TOTAL PATIENTS
0,Alabama,2010,40,2.13477,249,35,11664
1,Alaska,2010,40,0.875146,15,7,1714
2,Arizona,2010,40,0.674721,172,49,25492
3,Arkansas,2010,40,0.696056,18,15,2586
4,California,2010,40,1.95412,632,112,32342

In [5]:
# flu2010 = df[df["YEAR"] == 2010]
# flu2010

In [6]:
# flu2011 = df[df["YEAR"] == 2011]

In [7]:
# flu2012 = df[df["YEAR"] == 2012]

In [8]:
# flu2013 = df[df["YEAR"] == 2013]

In [9]:
# flu2014 = df[df["YEAR"] == 2014]